@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #6b7adb;
  --secondary-color: #96a4ff;
  --font-color: #3e414f;
  --danger-color: #ff0000;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
}

header {
  height: 90px;
  background-color: var(--primary-color);
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: flex;
}

.header-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header-area .logo div {
  line-height: 0.75em;
  color: #fff;
}

.logo_bottom {
  padding-left: 40px;
  margin-top: -10px;
}

.header-area .logo div:nth-child(1) {
  font-weight: bold;
}

.header-area .logo div:nth-child(2) {
  font-weight: normal;
  margin-left: 40px;
}

.header-area .links {
  width: 350px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-area .links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.header-area .links a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: -2px;
  transition: all 250ms ease-in-out;
}

.header-area .links a:hover::after {
  width: 100%;
  transition: all 250ms ease-in-out;
}

.header-area .links a:active {
  font-weight: bold;
}

.header-area .links label {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.header-area .links label::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: -2px;
  transition: all 250ms ease-in-out;
}

.header-area .links label:hover::after {
  width: 100%;
  transition: all 250ms ease-in-out;
}

.header-area .links label:active {
  font-weight: bold;
}

.table-area {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.4);
  min-height: 342px;
  overflow: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

table thead tr {
  display: flex;
  width: 100%;
}

table thead {
  color: var(--font-color);
  font-weight: bold;
  font-size: 23px;
  display: flex;
}

table thead th {
  width: 33.33%;
}

table tbody {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 20%;
}

.table-body {
  max-height: 263px;

}

table tbody::-webkit-scrollbar {
  width: 8px;
}

table tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

table tbody::-webkit-scrollbar-thumb {
  background-color: #96a4ff;
  border-radius: 16px;
}

table tbody tr {
  cursor: pointer;
  display: flex;
  width: 100%;
  transition: background-color 250ms ease-in-out;
}

table tbody tr:hover {
  background-color: rgba(100, 100, 100, 0.08);
}

table tr:last-child td {
  border: none;
}

td,
th {
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 33.33%;
}

td {
  color: var(--font-color);
}

.patient-container {
  max-width: 78%;
  width: 100%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 20px;
}

.card-details {
  padding: 38px;
  background-color: #fff;
  margin-top: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.4);
}

.item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item:first-child {
  padding-top: 0;
}

.item:last-child {
  padding: 38px 0 0;
}

.item:last-child {
  border: none;
}

.item div:nth-child(1) {
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.item div:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.item a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 0;
  background-color: var(--primary-color);
  border-radius: 16px;
  cursor: pointer;
}



.item form button:hover{
  background-color: #bf0000;
}

.item div.gender {
  padding: 8px 16px;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: min-content;
  margin: 5px 0 -5px 0;
}

.exams-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-header {
  height: 43px;
  display: flex;
}

.exams-header a {
  padding: 12px 32px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 16px;
  background-color: var(--primary-color);
  margin: 0;
}

.exams-header h2,
.details-header h2 {
  color: white;
  font-size: 30px;
  align-self: flex-end;
}

.exams .table-area {
  margin-top: 16px;
}

.button {
  transition: background-color 250ms ease-in-out;
  margin-top: 10px;
  padding: 12px 146px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 16px;
  background-color: var(--danger-color);
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
  transition: backgroud-color 250ms ease-in-out;
}
.button_exam{
transition: background-color 250ms ease-in-out;
  margin-top: 10px;
  padding: 12px 146px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 16px;
  background-color: var(--danger-color);
  font-size: 16px;
  padding: 12px 0;
  cursor: pointer;
  transition: backgroud-color 250ms ease-in-out;
}

.button:hover {
  background-color: #5366e0;
  transition: background-color 250ms ease-in-out;
}

.graph {
  margin-top: 20px;
  height: 295px;
  border-radius: 16px;
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.4);
  background: white;
  min-height: 342px;
  height: 308.44px;
  padding: 0 10px;
  padding-top: 15px;
  position: relative;
}

.toggleLineChart{
  position: absolute;
  top: 14px;
  right: 12px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  padding: 0 1px;
  transition: background-color 250ms ease-in-out;
}

.toggleLineChart:hover{
  background-color: #5366e0;
}

.toggleLineChart:focus{
  outline: none;
}

@media (max-width: 1200px) {
  .patient-container {
    max-width: 80%;
    width: 100%;
    margin: 38px auto;
    display: flex;
    flex-direction: column;
  }

  .exams-header {
    margin-top: 10px;
    flex-direction: row;
  }

  .graph{
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .patient-container {
    max-width: 80%;
    width: 100%;
    margin: 38px auto;
    display: flex;
    flex-direction: column;
  }

  .exams-header {
    margin-top: 10px;
    flex-direction: column;
  }

  .details-header h2 {
    align-self: center;
  }

  .exams-header h2 {
    align-self: center;
  }

  .exams-header a {
    text-align: center;
    align-self: center;
    margin-top: 10px;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .exams-header h2 {
    align-self: center;
    font-size: 30px;
  }

  .patient-container {
    max-width: 90%;
    width: 100%;
    margin: 38px auto;
    display: flex;
    flex-direction: column;
  }
}
