@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/*Estilizando o header*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #96a4ff;
}

header{
    background-color: #6B7ADB;
    padding: 28px;
}

.header{
    max-width: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header .logo div{
    line-height: 0.75em;
    color: #fff;
}

.header .logo div:nth-child(1){
    font-size: 40px;
    font-weight: bold;
}

.header .logo div:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    margin-left: 40px;
}

.header .links a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
}

.header .links a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: -2px;
    transition: all 250ms ease-in-out;
}

.header .links a:hover::after {
    width: 100%;
    transition: all 250ms ease-in-out;
}

.header .links a:hover::after {
    width: 100%;
    transition: all 250ms ease-in-out;
}

.header .links a + a {
    margin-left: 28px;
}

.card{
    border: 1px solid white;
    width: 409px;
    height: 470px;
    position:absolute;
    left: 50%;
    top:50%;
    margin-left:-200px;
    margin-top: -250px;
    background-color: white;
    border-radius: 15px;
}

h2{
    position:absolute;
    left:48%;
    top:20%;
    color: white;
}

.card p{
    padding-top: 35px;
    text-align: center;
    padding-bottom: 30px;
}

.open_mouth, .closed_mouth{
    border: 1px solid #6B7ADB;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    position: relative;
    top: -6.5%;
    left: 50%;
    margin-left: 20px;
}

.btn{
    width: 70px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-color: #6B7ADB;
    border: none;
    box-shadow: 2px 2px 0 black;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
}
.btn:hover{
    font-size: 15px;
}

.btn{
    position: relative;
    top: 50%;
    left: 30%;
}

h4{
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.result{
    border: 1px solid #6B7ADB;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    position: relative;
    top: 5%;
    left: 31.5%;
}

.submit{
    border: none;
    color: white;
    font-family: 'Roboto',sans-serif;
    width: 70%;
    height: 30px;
    margin-top: 20px;
    position: relative;
    left: 16%;
    box-shadow: rgba(0, 0, 0, 1.5);
    border-radius: 20px;
    background-color: #6B7ADB;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.77);
}

.submit:hover{
    font-size: 15px;
}

.line{
   border: 0.5px solid black; 
   opacity: 0.3;
   width: 52%;
   position: relative;
   left: 24%;
}