@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #6b7adb;
  --secondary-color: #96a4ff;
  --font-color: #3e414f;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
}

header {
  height: 90px;
  background-color: var(--primary-color);
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: flex;
}

.header-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header-area .logo div {
  line-height: 0.75em;
  color: #fff;
}

.logo_bottom {
  padding-left: 40px;
  margin-top: -10px;
}

.header-area .links {
  width: 350px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-area .links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.header-area .links a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: -2px;
  transition: all 250ms ease-in-out;
}

.header-area .links a:hover::after {
  width: 100%;
  transition: all 250ms ease-in-out;
}

.header-area .links a:active {
  font-weight: bold;
}

.header-area .links label {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.header-area .links label::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: -2px;
  transition: all 250ms ease-in-out;
}

.header-area .links label:hover::after {
  width: 100%;
  transition: all 250ms ease-in-out;
}

.header-area .links label:active {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details{
  width: fit-content;
  max-width: 60%;
  margin: 60px auto;
}

.card-details {
  padding: 38px;
  background-color: #fff;
  margin-top: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.4);
}

.details-header h2{
  font-size: 30px;
  color: white;
}

.item {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item:first-child {
  padding-top: 0;
}

.item:last-child {
  padding: 38px 0 0;
}

.item:last-child {
  border: none;
}

.item div:nth-child(1) {
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.item div:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.item a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 12px 0;
  background-color: var(--primary-color);
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.item a:hover {
  background-color: #5366e0;
}
