@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/*primary-color: #6B7ADB;
secondary-color: #96a4ff;
font-color: #3E414F;*/

/*Estilizando o header*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #96a4ff;
}

header{
    background-color: #6B7ADB;
    padding: 28px;
}

.header{
    max-width: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header .logo div{
    line-height: 0.75em;
    color: #fff;
}

.header .logo div:nth-child(1){
    font-size: 40px;
    font-weight: bold;
}

.header .logo div:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    margin-left: 40px;
}

.header .links a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
}

.header .links a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: -2px;
    transition: all 250ms ease-in-out;
}

.header .links a:hover::after {
    width: 100%;
    transition: all 250ms ease-in-out;
}

.header .links a:hover::after {
    width: 100%;
    transition: all 250ms ease-in-out;
}

.header .links a + a {
    margin-left: 28px;
}

/*1- Estilizando o body*/

.card {
    border: 1px solid white;
    width: 530px;
    height: 540px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top: -250px;
    background-color: white;
    border-radius: 15px;
}

h2{
    position:absolute;
    left:38%;
    top:20%;
    color: white;
}
.intern p{
    margin-left: 110px;
    margin-top: 30px;
}
/*.intern p:nth-child(1){
    padding-top: 10px;
}*/

.intern input{
    margin-left: 110px;
    margin-top: 10px;
}

.intern input[type="text"], input[type="email"], input[type="number"], input[type="date"]{
    font-family: 'Roboto', sans-serif;
    width: 57%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: none;
    color: #3e414f;
    font-size: 15px;
}

.intern input[type="submit"]{
    border: none;
    width: 60%;
    height: 30px;
    border-radius: 12px;
    background-color: #6B7ADB;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px 0 black;
}
.intern input[type="submit"]:hover{
    font-size: 17px;
}